<template name="shop">
	<div id="shop" class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-lg-7">
				
        <div class="row buy-list">

					<div>
	        			{{ #each items }}
						<button type="button" class="btn btn-buy btn-shy" style="width: {{style}};">
							<div class="row">
								<div class="col-xs-8 buy-left">{{name}}</div>
								<div class="buy-right">{{suggestion}}</div>
							</div>
							<div class="row extend">
								<div class="col-xs-6 buy-under-left"> ${{price}} </div>
								<div class="col-xs-6 buy-under-right"> {{category}} </div>
							</div>
						</button>
						{{/each}}
					</div>

					<div class="buffer"></div>

				</div>
			</div>
			<div class="col-md-4 col-lg-5 hidden-xs">
		 		<div id="bag">
        			<a rel="home" href="#" >
            			<img id="logo-bag" src="hungrylist-bag.svg">
          			</a>
        	</div>
      </div>
		</div>
	</div>
</template>