<template name="shop">
	<div id="shop" class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-lg-7">
				<div id="buy-top" class="row">

					<div class="col-xs-10">
						<input id="filter-input" placeholder="Type to filter" autofocus>
					</div>

					<!-- <div class="col-xs-2">
						<span id="filter-remove" class="glyphicon glyphicon-remove"></span>
					</div> -->

				</div>

        		<div class="row buy-list">
        			<div class="col-xs-12">
						<ul id="buy-list">
		        			{{ #each unprimedItems }}
							<li id="{{_id}}" type="button" class="btn btn-buy" style="width: {{style.suggestion}}; background-color: {{style.color}}">
								<div class="row">
									<div class="col-xs-8 buy-left">{{name}}</div>
									<div class="buy-right">{{priority}}</div>
								</div>
								<div class="row extend">
									<div class="col-xs-6 buy-under-left"> {{category}}, ${{price}} </div>
									<div class="col-xs-6 buy-under-right"> {{suggestion}}% Gone </div>
								</div>
							</li>
							{{/each}}
						</ul>
						<div class="buffer"></div>
					</div>
				</div>

			</div>

			<div class="col-md-4 col-lg-5 hidden-xs">

				<ul id="cart-list">
					{{ #each primed.items }}
					<li id="{{_id}}" type="button" class="btn btn-cart" style="background-color: {{style.color}}">
						<div class="row">
							<div class="col-xs-8 buy-left">{{name}}</div>
							<div class="buy-right">${{price}}</div>
						</div>
					</li>
					{{ /each }}
				</ul>

				<div class="cart-total"> Total: ${{ primed.total }} </div>

		 		<div id="bag">
		 			<div class="numberCircle">{{primed.num}}</div>
	    			<a rel="home" href="#" >
	        			<img id="logo-bag" src="hungrylist-bag.svg">
	      			</a>
	        	</div>
      		</div>
		</div>
	</div>
</template>