<template name="nav">

	<div class="navmenu navmenu-custom navmenu-fixed-left offcanvas-sm">

        <div id="logo">
            <a rel="home" href="/" >
                <img src="hungrylist5.svg">
                <h1> Hungrylist </h1>
            </a>
        </div>

        <ul class="nav navmenu-nav">
            <li>
                <p class="navbar-btn">
                    <a id="shopping" href="/shop" class="btn btn-custom">Go shopping!</a>
                </p>
            </li>
            <li>
                <p class="navbar-btn">
                    <a href="/items" class="btn btn-custom">Your Items</a>
                </p>
            </li>
            <li>
                <p class="navbar-btn">
                    <a href="/habits" class="btn btn-custom">Your Habits</a>
                </p>
            </li>
        </ul>
    </div>

    <div class="navbar navbar-custom navbar-fixed-top hidden-md hidden-lg">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-disable-scrolling="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a rel="home" href="#" title="Hungrylist">
            <img style="height: 100px;" src="hungrylist4.svg">
        </a>
        <!-- <ul class="nav navbar-nav navbar-right">
            { >loginButtons }}
        </ul> -->
    </div>

</template>