input.error{
    background-color:rgb(255, 231, 231);
}

/************************************
*
*  item creation block
*
************************************/

#item-details {
	padding-top: 20px;
	color:white;

	.form-control {
		margin-top: 20px;
		padding: 30px 15px;
		font-size: 30px;
	}

	#category-dropdown {
		font-size: 32px;
	}

	#category-dropdown-button {
		margin-top:20px;
		padding: 7px 20px 7.5px;
		font-size: 32px;
	}

	.item-fields {
		padding: 10px 30px 10px 30px;
		background-color: #36333C;
	    border-top-left-radius: 20px;
   		border-bottom-left-radius: 20px;		
	}

	#itemPrice {
		height: 61.8px;
		padding: 0 0 0 15px;
	}

	.item-accept {
		padding-left: 0px;
		padding-right: 0px;
	}

	#set-item {
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		background-color: #17B26A;
		font-size: 7rem;
		white-space:normal;

		&:hover {
			background-color: #00D672;
		}

		#set-icon {
			display: block;
			top: 0px;
		}

		#set-popup {
		    font-family: ff-nuvo-web-pro;
    		font-weight: 800;
    		font-size: 5rem;
    		letter-spacing: 2px;
    		display: none;
		}
	}

	.color-box {
		overflow:hidden;
		max-height:81.8px;
	}

	input[type=radio] {
		position:absolute;
		width: 1px;
		height: 1px;
		opacity: 0;
	}

	@mixin color-radio($color) {
		content: "";
	    display: inline-block;
	    cursor: pointer;
	 	margin-top:20px;
	    width: 61.8px;
	    height: 61.8px;
	    border-radius: 4px;
	    margin-left: auto;
	    margin-right: auto;
	    left: 0;
	    bottom: 1px;
	    background-color: $color;
	}

	.color-label {
    	margin-bottom:0px;
    	max-height: 81.8px;
	}

	.label-1:before {
		@include color-radio(#2C517D);
	}

	.label-2:before {
		@include color-radio(#D35B5B);
	}

	.label-3:before {
		@include color-radio(#B29F59);
	}

	.label-4:before {
		@include color-radio(#977BA9);
	}

	input[type=radio]:checked + label:before {
        margin-top: 20px;
	    content: "\2022";
	    color: #FFFFFF;
	    font-size: 100px;
	    text-align: center;
	    line-height: 65%;
	    top: 0px;
	    left: 31px;

	}

	input[type=radio]:focus + label:before {
		border: 1px solid #fff;
	}

	#suggestion-profile {
		margin-top: 20px;
		height: 61.8px;
		font-size: 24px;
		background-color: #36333C;
		border: 0;

		&:hover {
			background-color: #413B48;
			color: #fff;
		}
	}

	#amazon-profile {
		margin-top: 20px;
		height: 61.8px;
		font-size: 24px;
		background-color: #36333C;
		border: 0;

		&:hover {
			background-color: #413B48;
			color: #fff;
		}

	}

	.control-group:last-child {
		padding-bottom: 20px;
	}
}

/************************************
*
*   item list
*
************************************/

