

#item-details {
	padding-top: 20px;
	color:white;

	.item-fields {
		background-color: #36333C;
	
	}

	.item-accept {
		padding-left: 0px;
	}

	.control-group:last-child {
		padding-bottom: 20px;
	}
}