#login {

	height:100%;


	h1 {
		margin-top: 200px;
	    font-family: ff-nuvo-web-pro;
	    font-weight: 900;
	    letter-spacing: 10px;
	    text-align: center;
	    color: #fff;
	    font-size: 10rem;

	    span {
	    	color: #17B26A;
	    }
	}


	img {
		position: absolute;
	    max-width: 1200px;
	    opacity: .5;
	    margin-right: auto;
	    margin-left: auto;

	    left: 0;
	    righT: 0;
	    bottom: 0;
	}
}