@import 'anim/bounce';
@import 'anim/pulse';

/************************************
*
*   navbar and navmenu 
*
************************************/

.navbar {
  text-align: center;
}

.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.navbar-custom {
  background-color: transparent;
}

.navbar-brand {
  display: inline-block;
  float: none;
  text-transform:uppercase;
  font-weight: 600;
  letter-spacing:2px;
  font-size:2rem;
  color: #7ef692;
}


.navmenu-custom {
  background-color: #2A2531;
  border-width: 0;
}

.navbar-custom > button > span {
  background-color: #fff;
}

// logo area
#logo {
  padding:20px;

  > a:hover {
      text-decoration:none;

      img {
        @include bounce;
      }
  }

  img {
    width: 150px;
    display: block;
    margin: auto;
  }

  h1 {
    font-family: ff-nuvo-web-pro;
    font-weight: 900;
    text-align: center;
    letter-spacing: 3px;
    color: #fff;
    font-size: 3.2rem;
  }
}

.btn-custom {
  background-color: #36313C;
  border-radius: 0px;
  color: #fff;
  display: block;
  font-family: ff-nuvo-web-pro;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: auto;
  padding: 12px 0 8px 20px;
  text-align: left;
  width: 100%;
}

.btn-custom:hover, .btn-custom:active , .btn-custom:focus{
  color: #fff;
  background-color: #413B48;
}

/* .btn-custom:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}  */






// shopping button
#shopping {
  background-color: #17B26A;
  border-radius: 10px;
  margin-bottom:30px;
  width: 85%;
  text-align: center;
  padding-left: 0px;
}

#shopping:hover {
  color: #fff;
  background-color: #00D672;
  @include pulse;
}

#shopping:active, #shopping:focus{
  color: #fff;
  background-color: #00D672;
}


@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
  .navmenu, .navbar-offcanvas{
    width: 250px;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 250px;
  }
  .navmenu {
    padding-top: 0;
  }
  .navbar {
    display: none !important; /* IE8 fix */
  }
  .navmenu, .navbar-offcanvas{
    width: 250px;
  }
}
