@import 'anim/all';

#shop {
	height: inherit;

	> .row {
		height:inherit;

		> div {
			height: inherit;
		}
	}
}

#logo-bag {
	position: absolute;
	bottom:0;
	max-width:400px;
	right:0;
	left:0;
	margin:auto;
}

#filter-input {
	font-size: 6rem;
    padding: 20px;
    border: none;
    color: #fff;
    background-color: #1C1920;
    width: 100%;

    &:focus {
    	outline-width:0;
    }
}

#filter-remove {
	font-size: 6rem;
    padding: 20px;
    border: none;
    color: #fff;
    background-color: #1C1920;
    width: 100%;
    float:right;
}


.buy-list {
	height: 100%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.btn-buy {
	display:block;
	line-height: 1.33333;
	margin-top: 10px;
	padding: 10px 16px 10px 30px;
	background-color: #2C517D; //#337ab7
	border-radius:10px;
	@include all(.1s, ease-in-out);
	.extend {
		display:none;
	}


	&:hover {
		background-color: #4179BB;
	}

	> .row, .row-extend {
		pointer-events:none;
	}
	

	.buy-left {
		display:block;
		opacity:100%;
		overflow:hidden;
		text-overflow: ellipsis;
		font-size: 4rem;
		color: #fff;
		text-align:left;
		@include all(.1s, ease-in-out);
		transition-delay:.1s;
	}

	.buy-right {
		margin-right: 20px;
		overflow:hidden;
		text-overflow: ellipsis;
		font-size: 4rem;
		color: #fff;
		text-align:right;
	}

	.buy-under-left {
		font-size: 2.4rem;
		color: #fff;
		text-align: left;
	}

	.buy-under-right {
		@extend .buy-under-left;
		text-align:right;
	}
}

.btn-shy {
	opacity: 0;
	width: 0% !important;
}

.buffer {
	height: 32px;
	width:100%;
}

// scrollbar
.mCSB_inside > .mCSB_container {
	margin-right:20px;
}

.mCSB_scrollTools .mCSB_draggerContainer {
	margin-top:10px;
}

.mCSB_dragger_bar {
	width:12px;
	margin: 0;
}