<template name="items">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-10">
				<div class="row">
					<div class="col-xs-12">
						<h1>Add or Edit an Item</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<h1>name</h1>
						<h1>category</h1>
						<h1>price</h1>
					</div>				
					<div class="col-xs-12 col-sm-6">
						color, suggestion, price
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-2">
				add or save
			</div>
		</div>
	</div>
</template>
